:root{
    --primary-color: #be2b2b;
}

html{
    font-family: 'Martian Mono',sans-serif;
    /* color: #510a93; */
}

.maxWidth {
    max-width: 90em;
}

.header {
    text-align: center;
    margin: auto;    
}

.header_logo{
    width: 5.92em;
    height: 100%;
    margin: 1em;
}

.header_nav {
background-color: var(--primary-color);
}

ul{
    margin: 0;

}
.header_nav ul{
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1em;
    font-size: .8em;
}

.header_nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover{
    background-color: color-mix(in srgb, var(--primary-color), rgb(7, 54, 163) 20%);
}

.tamanho:hover {
    transform: scale(1.5);
    transition: transform 0.5s ease-in-out;
}

.tamanho {
    width: 50px;
    height: 50px;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}



h1,
h2,
.footer{
    font-family: 'Martian Mono',sans-serif;;
    color: #fff;
}

@media screen and (min-width: 48em) {
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_logo{
        margin-left: 2em;
    }

    .header_nav{
        background-color: initial;
    }

    .header_nav ul{
        margin-left: 1em;
        font-size: .9em;
    }

    .header_nav li {
        display: inline-block;
    }

    .header_nav a{
        color: var(--primary-color);
        border-radius: 5px;
    }

    .header_nav a:hover{
        background-color: color-mix(in srgb, var(--primary-color), rgb(9, 103, 226) 80%);
    }
}

.trailer {
    background-color: #e4f2eb;
    padding-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.5em;
}

.trailer div{
    text-align: center;
    margin: auto;
    width: 80%;
}

.trailer_title {
    margin-top: 0;
    padding-top: .5em;
    color: var(--primary-color);

}

.trailer h1{
    font-size: 2em;
    margin-bottom: 1em;
    color: var(--primary-color);
}

.trailer_p{
    font-size: 1.1em;
    color: black;
}

.trailer_botao {
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: var(--primary-color);
    border-radius: 8px;
    text-transform: none;
    color: #fff;
    text-transform: uppercase;
}

.trailer_botao_article{
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: white;
    border-radius: 8px;
    text-transform: none;
    color: var(--primary-color);
    text-transform: uppercase;
    }

.trailer_botao:hover{
    background-color: color-mix(in srgb, var(--primary-color), white 20%);
}

.trailer_v{
    display: none;
}

.main_content_paragrafo{
    color: black;
}

@media screen and (min-width: 48em) {
    .trailer{
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: white
        /* color: white; */
   
    }

    .trailer h1{
        color: rgb(255, 14, 14) ;
    }

    .trailer_paragrafo {
        margin-bottom: 2em;
        color: #002c7e;
    }

    .trailer_v{
        display: block;
        width:475;height:364;
    }

    .trailer_botao{
        display: none;
    }
}

.main_content{
    background-color: #ddbebe;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.main_content div{
    margin: auto;
    padding: 1em;
    width: 80%;
}

.main_content_title {
    color: var(--primary-color);
}

.icon_img {
    width: 5.5em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.col {
    flex: 1 0 auto;
    width: 100%;
}    

.col-12{
    width: 100%;
}

@media screen and (min-width: 48em) {
  .col-6 {
    width: calc(50% - 2rem);
  }  
}

@media screen and (min-width: 48.06em) {

}

.footer {
    background-color: var(--primary-color);
    color: blanchedalmond;
    padding: 1em;
    text-align: center;
}